<?xml version="1.0"?>
<psalm
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns="https://getpsalm.org/schema/config"
        useDocblockTypes="true"
        errorLevel="1"
        strictBinaryOperands="false"
        rememberPropertyAssignmentsAfterCall="true"
        checkForThrowsDocblock="false"
        throwExceptionOnError="0"
        findUnusedCode="true"
        ensureArrayStringOffsetsExist="true"
        ensureArrayIntOffsetsExist="false"
        xsi:noNamespaceSchemaLocation="https://getpsalm.org/schema/config"
        cacheDirectory="/var/tmp/psalm"
>
    <projectFiles>
        <directory name="src"/>
    </projectFiles>

    <issueHandlers>
        <InvalidThrow errorLevel="suppress"></InvalidThrow>
        <UnusedClass errorLevel="suppress"></UnusedClass>
    </issueHandlers>
</psalm>
